/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#body {
	margin: 0;
	color: white;
	background-color: black;
}

#top {
	width: 100%;
  max-height: 200px;
	background-color: #b1483d;
	border-style: solid none;
	border-color: #ebe4ad;
}

.top_left_form {
	color: black;
	margin: 0;
	width: 256px;
	background-color: #ebe4ad;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
}

#sign_out {
	position: relative;
	height: 19px;
	top: -57px;
	padding: 0 4px;
}

#some_text_at_the_top {
	position: relative;
	top: 90px;
	width: 800px;
	height: 80px;
	color: white;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
	margin: 0;
}

#page_header {
	position: relative;
	float: right;
	top: -190px;
	left: -110px;
	margin: 0;
	text-align: center;
	font-size: 65px;
	font-weight: bolder;
	width: 1400px;
	letter-spacing: 25px;
	opacity: 0.6;
	display: inline;
	font-style: oblique;
}

#motto {
	position: relative;
	top: -30px;
	left: 350px;
	width: 700px;
	text-align: center;
	font-style: italic;
}

#feature_list {
	position: relative;
	text-align: center;
	list-style: none;
	width: 1100px;
	padding: 0;
	margin: 0;
}

#logo {
	position: relative;
	float: right;
	top: -30px;
	left:-25px;
}


#middle {
	margin: 10px 0 0 0;
}

.inline {
	display: inline;
	padding: 0 4px;
	width: auto;
} 

#content {
	padding: 10px;
}

#notice_and_alert {
	position: relative;
	top: 20px;
}

.left_side {
	position: relative;
	width: 50%;
	float: left;
	text-align: left;
}

.right_side {
	position: relative;
	width: 50%;
	float: right;
	text-align: right;
}

.nostyle {
	list-style: none;
}

a:link {
	color: white;
}

a:visited { 
	color: white;
}

a:hover {
	color: black;
}

a:active {
  color: yellow;
}
