// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#place_search {
	position: relative;
	float: left;
}

#home_map { 
	position: relative;
	left: 750px;
	width: 30%;
	top: 30px;
	margin: 20px;
	
}
#create_location {
	color: white;
	position: relative;
	float: left;
}

#create_delivery {
	position: relative;
	width: 100%;
}
