<%= form_for @location do |f| %>
	<div class="field">
		<%= f.text_field :name, :placeholder => "Name of location" %>
	</div>

	<div class="field">
		<%= f.text_field :address, :placeholder => "Address" %>
	</div>

	<div class="actions">
		<%= f.submit "Save" %>
	</div>

<% end %>
