<table>
	<% @locations.each do |location| %>
	<tr>
		<td>
			<%= location.id %>
		</td>
		<td>
			<%= "#{location.address} #{location.city}, #{location.city}" %>
		</td>
		<td>
			<%= link_to "Show on map", locations_path(params[:location]) %>
		</td>
	</tr>
	<% end %>
</table>
